/*Log In, Register Scss*/
.loginForm
{
    margin:100px 400px auto 400px;
}

.logCenter{
    text-align: center; 
    font-size: 20px;
}

.inputMargin
{
    margin-right: 100px;
    float: right;
    padding-left: 80px;
    
}

.logLabel
{
    font-weight: bold;
    float: Left;
    margin-left: 100px;
}
