.textCenter{
    text-align: center; 
}

.textRight{
    text-align: right; 
}

.textBold{
    font-weight: bold;
}

.textItalic{
    font-style: italic;
}

.floatLeft{
    float: Left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: -10px;
}

body{
    font-family: 'Play', sans-serif;
}
